NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
ADMIN_PASSWORD=
SHOPEE_APP_ID=
SHOPEE_APP_SECRET=
SHOPEE_GRAPHQL_ENDPOINT=https://open-api.affiliate.shopee.com.br/graphql
MERCADO_LIVRE_CLIENT_ID=
MERCADO_LIVRE_CLIENT_SECRET=
MERCADO_LIVRE_ACCESS_TOKEN=
MERCADO_LIVRE_REFRESH_TOKEN=
NEXT_PUBLIC_VIP_GROUP_URL=
